@font-face {
  src: url(../fonts/Unna-Regular.ttf);
}

.books-background {
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.book-edit-button {
  display: flex;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 15vw;
}

.book-edit-button:hover,
.book-edit-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.book-edit-button:hover {
  transform: translateY(-1px);
}

.book-edit-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.all-books {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.book-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-desc {
  background-color: white;
  width: 70vw;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  padding: 25px;
  /* padding-bottom: 10px; */
  justify-content: center;
  border: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-titles {
  font-size: xxx-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: black;
}

.description {
  font-size: x-large;
  text-align: center;
}

.pen-icon {
  color: #fa6400;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 25px;
}

.book-icon {
  color: #fa6400;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 25px;
  cursor: pointer;
}

.description-font {
  font-size: x-large;
  color: black;
  display: flex;
  text-align: justify;
}

.book-modal {
  padding: 10px;
  border: 10px;
  margin: 10px;
}

/* CSS */

.button-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 1000px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.back-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #0096fa;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100px;
}

.back-button:hover,
.back-button:focus {
  background-color: #32aafb;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.back-button:hover {
  transform: translateY(-1px);
}

.back-button:active {
  background-color: #0078c8;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.drawer {
  width: 300px;
  height: 100vh;
  background-color: white;
  padding: 12px;
}

.drawer-container {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.453);
  display: flex;
  justify-content: flex-end;
}
