@font-face {
  font-family: "unna-font";
  src: url(../fonts/Unna-Regular.ttf);
}

.chapter-cards {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.chapter-info-form {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.chapter-words {
  background-color: white;
  width: 35vw;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-bottom: 10px;
  justify-content: center;
  border: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.chapters-background {
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.chapter-card-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.all-chapters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.chapter-input {
  padding: 1px;
  margin: 10px;
  height: 5vh;
  width: 15vw;
}

label {
  font-size: large;
  font-family: "unna-font";
}

.chapter-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}

.the-book-title {
  color: black;
}

.chapter-numbers {
  font-family: "unna-font";
  display: flex;
  justify-content: center;
}

.chapter-titles {
  font-family: "unna-font";
  display: flex;
  justify-content: center;
  padding: 5px;
}

.chapter-summaries {
  font-family: "unna-font";
  display: flex;
  justify-content: justify;
  padding: 10px;
}

.div-button {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 30px;
}

.chapter-edit-button {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  justify-content: right;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "unna-font";
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 15vw;
}

.chapter-edit-button:hover,
.chapter-edit-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.chapter-edit-button-9:hover {
  transform: translateY(-1px);
}

.chapter-edit-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.button-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.button-9 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "unna-font";
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 15vw;
  align-self: center;
}

.button-9:hover,
.button-9:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-9:hover {
  transform: translateY(-1px);
}

.button-9:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.drawer {
  width: 300px;
  height: 100vh;
  background-color: white;
  padding: 12px;
}

.drawer-container {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.453);
  display: flex;
  justify-content: flex-end;
}