@font-face {
  font-family: "unna-font";
  src: url(../fonts/Unna-Regular.ttf);
}

.nav-bar {
  font-family: "unna-font";
  font-size: larger;
  display: flex;
  justify-content: left;
  height: 60px;
  padding: 12px;
  padding-left: 80px;
  background-color:#fa6400;
  align-items: center;
}

.home-link {
  font-size: x-large;
  font-weight: 400;
  color: white;
  display: flex;
  top: 50%;
}

.home-link:link {text-decoration: none;}
.home-link:visited { text-decoration: none; }
.home-link:hover { text-decoration: underline; }
.home-link:active { text-decoration: none; }

.profile-link {
  font-size: x-large;
  font-family: "unna-font";
  color: white;
  display: flex;
}

.profile-link:link {text-decoration: none;}
.profile-link:visited { text-decoration: none; }
.profile-link:hover { text-decoration: underline; }
.profile-link:active { text-decoration: none; }

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}