.nav-bar {
  font-size: larger;
  display: flex;
  justify-content: space-around;
  height: 60px;
  padding: 12px;
  background-color: aquamarine;
  align-items: center;
}

.home-link {
  font-weight: 400;
  color: black;
  display: flex;
  top: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile-link {
  color: black;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}