.nav-bar {
  font-size: larger;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 50px;
  background-color: aquamarine;
  position: relative;
  top: 50%;
}

.home-link {
  font-weight: 400;
  color: black;
  display: flex;
  top: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile-link {
  color: black;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;

}